APP_NAME=Opencart
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

MYSQL_ROOT_PASSWORD=

OPENCART_HTTP_SERVER=http://localhost:8000/
OPENCART_HTTPS_SERVER=http://localhost:8000/
OPENCART_HTTP_SERVER_ADMIN=http://localhost:8000/admin/
OPENCART_HTTPS_SERVER_ADMIN=http://localhost:8000/admin/

OPENCART_ENV=local

OPENCART_DB_DRIVER=mysqli
#OPENCART_DB_HOSTNAME=mysql
#OPENCART_DB_USERNAME=admin
#OPENCART_DB_PASSWORD=
#OPENCART_DB_DATABASE=opencart
#OPENCART_DB_PORT=3306
#OPENCART_DB_PREFIX=oc_


OPENCART_API_SERVER=https://www.opencart.com/
OPENCART_API_FORUM_SERVER=https://opencartforum.com/
